<h3>Modifica gioco</h3>

<p *ngIf="error">{{error}}</p>

<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="nome" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Url immagine</mat-label>
        <input matInput formControlName="img">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Url video</mat-label>
        <input matInput formControlName="video">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="descrizione"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Assegna una categoria</mat-label>
        <mat-select [(value)]="oldCategory" formControlName="categoria" required>
            @for (c of categories; track c) {
            <mat-option [value]="c.id">{{c.nome}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-label>Console :</mat-label>
    <div formArrayName="consoles">
        <div *ngFor="let console of consoles; let i = index">
            <mat-checkbox color="secondary" [formControlName]="i">{{console.nome}}</mat-checkbox>
        </div>
    </div>

    <a mat-flat-button color="secondary" routerLink="/games/game/{{game.id}}">Annulla</a>
    <button mat-flat-button color="primary" type="submit" class="ms-2">Modifica</button>

</form>