<h3>{{pageTitle}}</h3>

<div class="row navigation align-items-center">
    <button class="col-auto" *ngIf="router.url === urlCategory" routerLink="/games">
             <i class="fa-solid fa-arrow-left"></i>
    </button>
    <div class="col-auto searchbar" *ngIf="router.url !== urlCategory">
        <i class="fa-solid fa-magnifying-glass searchglass" (click)="navigateTo(gameName)"></i>
        <input 
            [(ngModel)]="gameName" 
            inputmode="search"
            placeholder="Cerca gioco"
            type="search" 
            (keyup.enter)="navigateTo(gameName)"          
        />
    </div>
</div>


<div *ngIf="!games.length && !isLoading" class="text-center mt-5">Nessun risultato trovato!</div>
<div *ngIf="isLoading" class="text-center mt-5">Caricamento in corso....</div>
<div class="row mt-2">
    <div class="col-3 py-3" *ngFor="let game of games">
        <div class="card-game">
            <a [routerLink]="['/games/game', game.id]">
                <p>{{ game.nome }}</p>
                <img *ngIf="game.img" src="{{game.img}}" alt="">
                <img *ngIf="!game.img" src="https://placehold.co/600x400" alt="">
                </a>
            <button [routerLink]="['/games/category', game.categoria?.id]">{{game.categoria?.nome}}</button>
        </div>
    </div>
</div>


