@use '../../../navigation/navigation.component.scss' as general;

.card-game {
    background-color: general.$header !important;
    border-radius: 10px;
    color: general.$light;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a{
        text-decoration: none !important;
    }
    button {
        font-size: x-small;
    }
    img {
        aspect-ratio: 1.2;
        object-fit:contain;
        margin: 0 auto;
    }
    .btn-favorite {
        background-color: general.$light-grey;
        color: general.$dark-grey;
        &:hover {
            background-color: general.$light;
        }
    }
    .favorite {
        background-color: general.$red;
        color: general.$light;
        &:hover {
            background-color: general.$light-red;
        }
    }
}

button {
    background-color: general.$dark-blue;
    border: none;
    border-radius: 5px;
    color: general.$light-blue;
    font-size:smaller;
    margin-top: 15px;
    &:hover {
        background-color: general.$light-blue;
        color: general.$light;
    }
}

.arrow {
    display: none;
}

.navigation{
    button {
        margin-top: 0;
        margin-left: 15px;
    }
}

.searchbar {
    background-color: general.$dark-blue;
    border: none;
    color: general.$light-blue;
    padding: 0;
    border-radius: 5px;
    margin: 0 15px;
    .searchglass {
        padding: 0 10px;
        cursor: pointer;
    }
    input{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        background-color: general.$light-blue;
        color: general.$light;
        padding-left: 10px;
        &:focus-visible{
            outline: none;
        }
        &::placeholder{
            color: general.$light;
            opacity: 0.7;
        }
    }
}

@media (min-width: 768px) {
    .arrow {
        display: block;
    }
}