
<div class="row navigation align-items-center my-3">
    <button class="col-auto arrow" *ngIf="router.url !== '/games' " routerLink="/games">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <div class="col-auto searchbar">
        <i class="fa-solid fa-magnifying-glass searchglass" (click)="navigateTo(gameName)"></i>
        <input 
        [(ngModel)]="gameName" 
        inputmode="search"
        placeholder="Cerca gioco"
        type="search" 
        (keyup.enter)="navigateTo(gameName)"          
        />
    </div>
</div>

<h3 *ngIf="router.url !== '/games/favorites'">{{pageTitle}}</h3>

<div *ngIf="!games.length && !isLoading" class="text-center mt-5">Nessun risultato trovato!</div>
<div *ngIf="isLoading" class="text-center mt-5">Caricamento in corso....</div>

<div *ngIf="router.url !== '/games/favorites'" class="row mt-2">
    <div class="col-12 col-md-6 col-xl-3 py-3" *ngFor="let game of games">
        <div class="card-game">
            <a [routerLink]="['/games/game', game.id]">
                <p>{{ game.nome }}</p>
                <img *ngIf="game.img" src="{{game.img}}" alt="">
                <img *ngIf="!game.img" src="https://placehold.co/600x400" alt="">
                </a>
                <div class="d-flex gap-2">
                    <button class="col-10" [routerLink]="['/games/category', game.categoria?.id]">{{game.categoria?.nome}}</button>
                    <button class="col-2 btn-favorite" [class.favorite]="isFavorite(+game.id!)" (click)="toggleFavorite(game)">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
        </div>
    </div>
</div>


<section *ngIf="router.url === '/games/favorites'">
    <h3>Preferiti:</h3>
    
    <div *ngIf="!favorites.length && !isLoading" class="text-center mt-5">Nessun preferito</div>
    <div *ngIf="isLoading" class="text-center mt-5">Caricamento in corso....</div>
    
    <div class="row mt-2">
        <div class="col-12 col-md-6 col-xl-3 py-3" *ngFor="let f of favorites">
            <div class="card-game">
                <a [routerLink]="['/games/game', f.id]">
                    <p>{{ f.nome }}</p>
                    <img *ngIf="f.img" src="{{f.img}}" alt="">
                    <img *ngIf="!f.img" src="https://placehold.co/600x400" alt="">
                    </a>
                    <div class="d-flex gap-2">
                        <button class="col-10" [routerLink]="['/games/category', f.categoria?.id]">
                            {{f.categoria?.nome}}
                        </button>
                        <button class="col-2" [class.favorite]="isFavorite(+f.id!)" (click)="toggleFavorite(f)">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
            </div>
        </div>
    </div>
</section>


