@use '../../../navigation/navigation.component.scss' as general;

.card-game {
    background-color: general.$header !important;
    border-radius: 10px;
    color: general.$light;
    aspect-ratio: 1.1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a{
        text-decoration: none !important;
    }
    button {
        background-color: general.$dark-blue;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        color: general.$light-blue;
        font-size: smaller;
        &:hover {
            background-color: general.$light-blue;
            color: general.$light;
        }
    }
}
