@use '../../../navigation/navigation.component.scss' as general;

.card-game {
    background-color: general.$header !important;
    border-radius: 10px;
    color: general.$light;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    a{
        text-decoration: none !important;
    }
    button {
        background-color: general.$dark-blue;
        border: none;
        border-radius: 5px;
        color: general.$light-blue;
        font-size:x-small;
        margin-top: 15px;
        &:hover {
            background-color: general.$light-blue;
            color: general.$light;
        }
    }
    img {
        aspect-ratio: 1.2;
        object-fit:fill;
    }
}
