<p *ngIf="error">{{error}}</p>

<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="nome" required>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Url video</mat-label>
        <input matInput formControlName="video">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="descrizione"></textarea>
    </mat-form-field>

<!-- 
    <label for="id_categoria">Categoria: </label>
    <input id="id_categoria" type="number" formControlName="id_categoria" required> -->

    <button mat-flat-button color="primary" type="submit">Modifica</button>
  
  </form>
