@use '../../navigation/navigation.component.scss' as general;

.accessarea {
    position: relative;
    height: 700px !important;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accessarea::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/giochi.webp");
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

a {
    color: currentColor;
    text-decoration: underline;
}

.game-img {
    width: 100%;
    height: 700px;
    aspect-ratio: 1.2;
    object-fit: cover;
}

.game-title {
    background-color: general.$light;
    border-radius: 5px;
    color: general.$dark-blue;
    font-size: medium;
    margin: 5px 20px;
}

.game-category {
    background-color: general.$dark-blue;
    border: none;
    border-radius: 5px;
    color: general.$light-blue;
    font-size: smaller;
    margin: 5px 20px;
}