<header>
    <div class="container d-flex justify-content-between align-items-center header-bar">
            <div class="col-auto">
                <span>LOGO</span>
            </div>
            <div class="col-grow-1">
                <button mat-button [matMenuTriggerFor]="menu">Giochi</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="/">Lista giochi</button>
                  <button mat-menu-item routerLink="/games/add">Aggiungi</button>
                </mat-menu>               
            </div>
    </div>
</header>

<div class="page-wrapper">
    <router-outlet></router-outlet>
</div>
