//COLOR VARIABLES
$header: #171D25;
$light: #F8F4F8;
$light-grey: #C5C3C0;
$dark-grey:#747270;
$background-body: #1A2A3B;
$dark-blue:#316282;
$light-blue: #549EC9;
$red:rgb(218, 78, 78);
$light-red:rgb(233, 129, 129);

.main {
    background-color: $background-body;
    min-height: 92vh;
    color: $light;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

header {
    background-color: $header;
    color: $light-grey;
    a {
        margin-left: 10px;
    }
    a:hover {
        color: $light;
        cursor: pointer;
    }
}

.header-bar {
    height: 8vh;
    .mat-mdc-button:not(:disabled) {
        color: $light;
    }
}

.icon {
    margin-right: 10px;
   font-size: larger;
}

.logo {
    cursor: pointer;
}

.large-menu {
    display: none;
}

//MEDIA QUERIES

@media (min-width: 768px) {
    .bars-menu {
        display: none;
    }

    .large-menu {
        display: block;
    }
}