<header>
    <div class="container d-flex justify-content-between align-items-center header-bar">
            <div routerLink="/" class="col-auto d-flex align-items-center logo">
                <i class="fa-solid fa-gamepad icon"></i>
                <span class="text-center">INSERTCOIN</span>
            </div>
            <div class="col-grow-1">

                <i [matMenuTriggerFor]="options" class="fa-solid fa-bars icon bars-menu">
                    <mat-menu #options="matMenu">
                        <button *ngIf="isLogged" mat-menu-item [matMenuTriggerFor]="giochi">Giochi</button>
                        <button *ngIf="isLogged" mat-menu-item [matMenuTriggerFor]="categorie">Categorie</button>
                        <button *ngIf="isLogged" mat-menu-item [matMenuTriggerFor]="consoles">Console</button>
                        <button *ngIf="isLogged" mat-menu-item [matMenuTriggerFor]="user">{{username}}</button>
                    </mat-menu>
                </i>

                <div class="large-menu">
                    <a *ngIf="!isLogged" routerLink="/login">Accedi</a>
    
                    <a *ngIf="!isLogged" routerLink="/register">Registrati</a>
    
                    <a *ngIf="isLogged" [matMenuTriggerFor]="giochi">Giochi</a>
                    <mat-menu #giochi="matMenu">
                        <button mat-menu-item (click)="goToFavorites()">Preferiti</button>
                        <button mat-menu-item routerLink="/games">Lista giochi</button>
                        <button *ngIf="isAdmin" mat-menu-item routerLink="/games/add">Aggiungi</button>
                    </mat-menu>
                    
                    <a *ngIf="isLogged" [matMenuTriggerFor]="categorie" class="ms-2">Categorie</a>
                    <mat-menu #categorie="matMenu">
                        <button mat-menu-item *ngFor="let c of categories" (click)="selectCategory(c.id)">{{c.nome}}</button>
                    </mat-menu>

                    <a *ngIf="isLogged" [matMenuTriggerFor]="consoles" class="ms-2">Console</a>
                    <mat-menu #consoles="matMenu">
                        <button mat-menu-item *ngFor="let c of cons" (click)="selectConsole(c.id,c.nome)">{{c.nome}}</button>
                    </mat-menu>

                    <a *ngIf="isLogged" [matMenuTriggerFor]="user">{{username}}</a>
                    <mat-menu #user="matMenu">
                        <button mat-menu-item (click)="logOut()">Logout</button>
                    </mat-menu>
                      
                </div>
            </div>
    </div>
</header>

<div class="main pt-3">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
