//COLOR VARIABLES
$header: #171D25;
$light: #F8F4F8;
$light-grey: #C5C3C0;
$background-body: #1A2A3B;
$dark-blue:#316282;
$light-blue: #549EC9;

.main {
    background-color: $background-body;
    min-height: 90vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

header {
    background-color: $header;
    color: $light-grey;
    a:hover {
        color: $light;
        cursor: pointer;
    }
}

.header-bar {
    height: 10vh;
    .mat-mdc-button:not(:disabled) {
        color: $light;
    }
}